@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/BaseManage/DllMgr/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'ID', hidden: true },
                { label: '名称', name: 'Name', width: 120, align: 'left' },
                { label: '版本', name: 'Version', width: 120, align: 'left' },
                { label: '命名空间', name: 'NameSpace', width: 300, align: 'left' },
                { label: '路径', name: 'Url', width: 300, align: 'left' },
                { label: '备注', name: 'Description', width: 300, align: 'left' },
                {
                    label: '创建时间', name: 'CreatorTime', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                }
            ],
            pager: "#gridPager",
            sortname: 'SortCode asc,CreatorTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增程序集",
            url: "/BaseManage/DllMgr/Form",
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().ID;
        if (keyValue != null && keyValue != undefined && keyValue != "") {
            $.modalOpen({
                id: "Form",
                title: "修改程序集",
                url: "/BaseManage/DllMgr/Form?keyValue=" + keyValue,
                width: "700px",
                height: "510px",
                callBack: function (iframeId) {
                    top.frames[iframeId].submitForm();
                }
            });
        } else {
            $.modalMsgWarning("请选择一行数据！");
        }
    }
    function btn_delete() {
        var keyValue = $("#gridList").jqGridRowValue().ID;
        if (keyValue != null && keyValue != undefined && keyValue != "") {
            $.deleteForm({
                url: "/BaseManage/DllMgr/DeleteForm",
                param: { keyValue: keyValue },
                success: function () {
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                }
            });
        } else {
            $.modalMsgWarning("请选择一行数据！");
        }
    }
    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().ID;
        if (keyValue != null && keyValue != undefined && keyValue != "") {
            $.modalOpen({
                id: "Details",
                title: "查看程序集",
                url: "/BaseManage/DllMgr/Details?keyValue=" + keyValue,
                width: "700px",
                height: "550px",
                btn: null,
            });
        } else {
            $.modalMsgWarning("请选择一行数据！");
        }
    }
    function btn_up() {
        var keyValue = $("#gridList").jqGridRowValue().ID;
        if (keyValue != null && keyValue != undefined && keyValue != "") {
            $.modalOpen({
                id: "UpForm",
                title: "升级程序集",
                url: "/BaseManage/DllMgr/UpForm?keyValue=" + keyValue,
                width: "700px",
                height: "510px",
                callBack: function (iframeId) {
                    top.frames[iframeId].submitForm();
                }
            });
        } else {
            $.modalMsgWarning("请选择一行数据！");
        }
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建程序集</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改程序集</a></li>
                <li><a id="NF-delete" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除程序集</a></li>
                <li><a id="NF-Details" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看程序集</a></li>
                <li><a id="NF-Up" onclick="btn_up()"><i class="fa fa-arrow-circle-down"></i>升级程序集</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="名称" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
