<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/framework-font.css?v=2.3" rel="stylesheet" />
    <link href="~/css/framework-theme.css?v=2.3" rel="stylesheet" />
    <script src="~/js/jquery/jquery-2.1.1.min.js?v=2.3"></script>
    <script src="~/js/bootstrap/bootstrap.js?v=2.3"></script>
    <link href="~/js/bootstrap/bootstrap.min.css?v=2.3" rel="stylesheet" />
    <script src="~/js/wdtree/tree.js?v=2.3"></script>
    <link href="~/js/wdtree/tree.css?v=2.3" rel="stylesheet" />
    <link href="~/js/select2/select2.min.css?v=2.3" rel="stylesheet" />
    <script src="~/js/select2/select2.min.js?v=2.3"></script>
    <link href="~/js/wizard/wizard.css?v=2.3" rel="stylesheet" />
    <script src="~/js/wizard/wizard.js?v=2.3"></script>
    <script src="~/js/validate/jquery.validate.min.js?v=2.3"></script>
    <script src="~/js/datepicker/WdatePicker.js?v=2.3"></script>
    <link href="~/css/framework-ui.css?v=2.3" rel="stylesheet" />
    <script src="~/js/framework-ui.js?v=2.3"></script>
    <script src="~/js/Common.js?v=2.3"></script>
    <script src="~/js/datepicker/WdatePicker.js?v=2.3"></script>
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>
