<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/css/framework-font.css?v=2.3" rel="stylesheet" />
    <link href="~/css/framework-theme.css?v=2.3" rel="stylesheet" />
    <script src="~/js/jquery/jquery-2.1.1.min.js?v=2.3"></script>
    <script src="~/js/jquery-ui/jquery-ui.min.js?v=2.3"></script>
    <script src="~/js/bootstrap/bootstrap.js?v=2.3"></script>
    <link href="~/js/bootstrap/bootstrap.min.css?v=2.3" rel="stylesheet" />
    <script src="~/js/layout/jquery.layout.js?v=2.3"></script>
    <script src="~/js/wdtree/tree.js?v=2.3"></script>
    <link href="~/js/wdtree/tree.css?v=2.3" rel="stylesheet" />
    <script src="~/js/jqgrid/jqgrid.min.js?v=2.3"></script>
    <link href="~/js/jqgrid/jqgrid.css?v=2.3" rel="stylesheet" />
    <script src="~/js/jqgrid/grid.locale-cn.js?v=2.3"></script>
    <link href="~/css/framework-ui.css?v=2.3" rel="stylesheet" />
    <script src="~/js/framework-ui.js?v=2.3"></script>
    <style>
        html, body {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>
