@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    var jobName = getQueryString("jobName");
    $(function () {
        gridList();
        $("#flJobFiles").on("change", function () {
            var jsonjobfiles = uploadFiles("flJobFiles", "jobfiles", jobName);
            if (jsonjobfiles.success == true) {
                var jobFiles = jsonjobfiles.data;
                if (!!keyValue) {
                    if (jobFiles != null && jobFiles.length > 0) {
                        var jobFileModels = [];
                        $(jobFiles).each(function (index, obj) {
                            var jobFileModel = {};
                            jobFileModel.JobID = keyValue;
                            jobFileModel.JobName = jobName;
                            jobFileModel.Name = obj.Sys_FileName;
                            jobFileModel.Src = obj.Sys_FilePath;
                            jobFileModels.push(jobFileModel);
                        });
                        $.submitForm({
                            url: "/BaseManage/JobMgr/SubmitJobFiles",
                            param: { jobFiles: JSON.stringify(jobFileModels) },
                            close: false,
                            success: function () {
                                $("#gridListFiles").trigger("reloadGrid");
                            }
                        })
                    }

                } else {
                    $.modalMsgWarning("请上传文件！");
                }
            }
        });
    })
    function gridList() {
        var $gridList = $("#gridListFiles");
        $gridList.dataGrid({
            url: "/BaseManage/JobMgr/GetJobFiles?keyValue=" + keyValue,
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'ID', hidden: true },
                { label: '名称', name: 'Name', width: 120, align: 'left' },
                { label: '路径', name: 'Src', width: 400, align: 'left' },
                {
                    label: '创建时间', name: 'CreatorTime', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                }
            ],
            pager: "#gridPagerFiles",
            sortname: 'Name asc,CreatorTime desc',
            viewrecords: true
        });
    }
    function btn_add() {
        $("#flJobFiles").click();
    }

    function btn_delete() {
        var jobFileId = $("#gridListFiles").jqGridRowValue().ID;
        if (jobFileId != null && jobFileId != undefined && jobFileId != "") {
            $.deleteForm({
                url: "/BaseManage/JobMgr/DeleteFile",
                param: { keyValue: jobFileId },
                success: function () {
                    $("#gridListFiles").trigger("reloadGrid");
                }
            });
        } else {
            $.modalMsgWarning("请选择一行数据！");
        }
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>上传文件</a>
            <input type="file" id="flJobFiles" multiple style="display:none;" />
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-delete" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除文件</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
    </div>
</div>
<div class="gridPanelFiles">
    <table id="gridListFiles"></table>
    <div id="gridPagerFiles"></div>
</div>
